.contenedor{
    display: flex;
    align-items: center;
}

.boton{
    width:20%;
    height:30px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 15%;
    background-color:#577ecb;
    color: white;
    cursor: pointer;
    border-color: rgb(171, 167, 167);
    border-style: ridge;
}

.boton:hover{
    color: #577ecb;
    background-color: white;
}